.r-container {
  position: relative;
  overflow: hidden;
}
.r-header {
  margin-bottom: 3.2rem;
}

.r-card {
  gap: 9.6rem;
  padding: 1.6rem;
  width: max-content;
  border-radius: 10px;
  margin: auto;
  transition: all 300ms ease-in;
}

.r-card > img {
  width: 100%;
  max-width: 24rem;
}
.r-card > :nth-child(2) {
  font-size: 1.92rem;
  font-weight: 600;
}
.r-card > :nth-child(3) {
  font-size: 2.4rem;
  /* font-weight: 600; */
}
.r-card > :nth-child(4) {
  font-size: 1.12rem;
  width: 24rem;
}

.r-card:hover,
.r-card:active {
  cursor: pointer;
  transform: scale(1.025);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(136, 160, 255, 0.46) 217.91%
  );
  box-shadow: 0px 72px 49px -52px rgba(136, 160, 255, 0.21);
}
.swiper-horizontal {
  overflow: visible;
}
.r-buttons {
  position: absolute;
  gap: 1.2rem;
  top: -10%;
  right: 0%;
}
.r-buttons > button {
  font-size: 1.92rem;
  padding: 0.32rem 1.28rem;
  cursor: pointer;
  background-color: #fff;
  color: blue;
  border-radius: 4px;
  border: none;
}

.r-buttons > button:nth-child(1) {
  background-color: #eeeeff;
}
.r-buttons > button:nth-child(2) {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 30rem) {
  .r-wrapper {
    margin: 4rem 0;
  }
  .r-header {
    text-align: center;
  }
}

@media (max-width: 64rem) {
  .r-wrapper {
    margin: 4rem 0;
  }
  .r-head {
    align-items: center;
  }
  .r-buttons {
    position: initial;
  }
}
