.c-container {
  justify-content: space-between;
}
.c-container > div {
  flex: 1;
}

.c-left {
  gap: 0.8rem;
}
.c-right {
  width: 100%;
}

.contact-modes {
  margin-top: 3.2rem;
  gap: 1.6rem;
}
.contact-modes .row {
  gap: 2.4rem;
}
.mode {
  width: 25.6rem;
  padding: 1.6rem;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 4px;
  gap: 1.6rem;
  transition: all 300ms ease-in;
}

.mode .button,
.button > a {
  text-decoration: none;
  width: 100%;
  gap: 1.44rem;
  background: var(--light-blue);
  color: var(--blue);
  font-size: 1.44rem;
  font-weight: 600;
}

.mode > :nth-child(1) {
  width: 100%;
  gap: 2.56rem;
}
.mode .detail .primary-text,
.primary-text {
  font-size: 1.76rem;
  font-weight: 600;
}

.mode:hover,
.mode:active {
  scale: 1.1;
  box-shadow: var(--shadow);
}
.mode .button:hover,
.mode .button:active {
  background: var(--blue-gradient);
  color: white;
  scale: 0.8;
}

/* .contact-modes,
.row,
.mode,
.start,
.icon,
.detail,
.button {
  padding: 5px;
  border: 2px solid black;
} */
