.f-container {
  justify-content: space-between;
}

.f-left {
  gap: 1.6rem;
}
.f-left p {
  width: 60%;
}
.menu {
  gap: 1.6rem;
}
.menu a {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .f-container {
    margin: 4rem 0;
    justify-content: center;
  }
  .f-container > div {
    align-items: center !important;
    text-align: center;
  }
}
